C_Projects/*/.idea/workspace.xml
C_Projects/*/cmake-build-debug
Simple_Class_Inheritance/cmake-build-debug
SimpleCplusplus/cmake-build-debug
Simple_Class_Inheritance/.idea/workspace.xml
SimpleCplusplus/.idea/workspace.xml
