'C_Projects/Udemy_Sec12PointerArithm_charExample_CLion/.idea/workspace.xml'
'C_Projects/Udemy_Sec12_82UsingPointers_CLion/.idea/workspace.xml'
'C_Projects/Udemy_Sec12PointerArithm_charExample_CLion/cmake-build-debug'
'C_Projects/Udemy_Sec12_82UsingPointers_CLion/cmake-build-debug'
